/*
Aspectos Generales: Bordes y Color de fondo de la calculadora
*/
.calculadora {
    background-color: #b4b4b4;
    border: 3px black ridge;
    text-align: center;
    width: 250px;
}

.calculadora input.largo {
    color: rgb(51, 51, 51);
    width: 60px;
}

.calculadora [type=button] {
    padding: 0;
    width: 35px;
}

#textoPantalla {
    background-color: white;
    border: 2px black solid;
    font-family: "Courier new";
    left: 23px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    text-align: right;
    width: 186px;
}