* {
    margin: 0;
    padding: 0;
}

section#home {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/img-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section#about {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/img-2.jpg');
    background-size: cover;
    background-position: center;
}

section#contact {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/img-3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

