#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    margin-bottom: 60px;
    padding: 10px;
    box-shadow: 0 0 20px #666;
}

#text-nav {
    margin: 0 auto;
    width: 550px;
}

#navh1 {
    font-weight: bold;
}

body {
    background: rgb(223, 223, 223);
}

#main {
    margin-top: 130px;
}

#photo {
    border-radius: 10px;
    width: 550px;
    background: white;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0 0 20px #666;
}

#wrapper-top {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
}

#wrapper-title {
    display: inline-block;
    margin-left: 30px;
}

#title {
    font-weight: bold;
}

#wrapper-date {
    display: inline-block;
    text-align: right;
    padding-top: 5px;
    margin-right: 30px;
    color: #979797c7;
    float: right;
}

#date:hover {
    color: black;
}

#wrapper-comment {
    padding: 15px;
    padding-bottom: 3px;
    width: 100%;
}