body {
    background: #333 url(../img/bg.jpg);
    background-size: cover;
    font: 8pt Verdana, Geneva, Arial; 
    color: white;
    margin: 20px 0px 20px 0px;
    text-align: center;  
}

#contenedor {
    text-align: left;
    width: 800px;
    background-color: white;
    color: #666;
    margin: auto;
}

#cabecera {
    height: 106px;
    width: 800px;
}

#navegacion {
    background: #2880bb;
    padding: 3px 10px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    text-align: center;
}

a.navegacion-nav {
    color:white;
    display: table-cell;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 200px;
} 

a.navegacion-nav:hover {
    background: #1367a0;
    color: black;
}

#contenedor #main {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    float: left;
    padding: 10px;
    width: 600px;
}
#main h1{
    text-align: center;
}
#main figure {
    text-align: center;
}
#main p{
    margin: 0 10px;
    text-align: justify;
}

#lateral {
    background-color: white;
    float: right;
    padding: 5px;
    width: 170px;
}


