body {
    font-family: 'Handlee', cursive;
}

.container  {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
    width: 50%;
}

p {
    font-size: 20px;
}

#image {
    width: 100px;
    height: 100px;
    float: right;
    background-position: center;
    background-size: 120px;
    background-image: url("https://s3.amazonaws.com/bloc-global-assets/almanac-assets/bootcamps/logos/000/002/594/original/4-Geeks-Academy.png?1467187267");
    margin-right: 25px;
}

#name {
    margin-top: 130px;
}

#button {
    text-align: center;
    background-color: #636363;
    border-radius: 0;
    border: #000000;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin-left: 38%;
    margin-right: 38%;
}

#button:active {
    border-bottom: none;
    border-right: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

#button:hover {
    color: blue;
}